<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration
	xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	
	<appender name="CONSOLE"
		class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%p] %d{HH:mm:ss,SSS} [%t] [%c{1}] %m%n" />
		</layout>
	</appender>

	<!-- Appender para la salida por fichero -->
	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<param name="File" value="d:/develop/logs/testjopas.log" />
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" 
			    value="[%p] %d{HH:mm:ss,SSS} [%t] [%c{1}] %m%n" />
		</layout>
	</appender>

	<!-- Appender para la salida por graylog (tiempo de ejecución) -->
	<appender name="GRAYLOG_JOPAS" class="org.graylog2.log.GelfAppender">
		<param name="graylogHost" value="192.168.1.33" />
		<param name="originHost" value="localhost"/>
		<param name="graylogPort" value="12201"/>
		<param name="additionalFields"
			value="{'environment': 'DEV', 'application': 'testjopas'}" />
		<param name="extractStacktrace" value="true" />
		<param name="addExtendedInformation" value="true" />
		<param name="facility" value="log.jopasservice"/>	
    	<param name="Threshold" value="DEBUG"/>
	</appender>

	<!-- Application Loggers -->
	<logger name="net.bounceme.chronos.testjopas.services">
		<level value="DEBUG" />
		<appender-ref ref="GRAYLOG_JOPAS" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="ERROR" />
	</root>

</log4j:configuration>
